<a href="https://colab.research.google.com/github/vinayakrajmishra/cloudyML_assignment/blob/main/(Updated)Python_Basics_withLinks_noCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1> Python Basics</h1></center>

![image.png](https://pythonawesome.com/content/images/2019/09/Edward2.jpg)

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo('https://www.youtube.com/watch?v=izgBmCnp1Oc&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=1',width=600,height=300)

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.


Add-on Reference: https://youtu.be/HGOBQPFzWKo

Add-on reference: https://youtu.be/8DvywoWv6fI


## Variable declaration

Covers the topic of variable declaration and type of variables

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [ ]:
#1 Variables

YouTubeVideo('https://www.youtube.com/watch?v=YdDfEbaUPJs&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=2',width=600,height=300)

In [ ]:
#2 Variables

YouTubeVideo('https://www.youtube.com/watch?v=gOcRxdGovhc&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=3',width=600,height=300)

In [ ]:
# declare two variables, a = 5, b = 'city'
a = 5
b = 'city'

In [ ]:
# print type of a
print(type(a))

<class 'int'>

In [ ]:
# print type of b
print(type(b))

<class 'str'>

In [ ]:
# swap the values of a and b
# hint, if a = 3 and b = "cloudyML" then u can swap values like this
temp = a
a = b
b = temp

In [ ]:
# run this to confirm 
print(a)
print(b)

city
5

Cool! so variable declaration and getting it's type was easy.

In [ ]:
#3 Data Structure

YouTubeVideo('https://www.youtube.com/watch?v=R0yDN07Jw_c&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=4',width=600,height=300)

## Arithmetic Operations

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.


<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [ ]:
#4 Operators
YouTubeVideo('https://www.youtube.com/watch?v=kj-UnITecRE&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=10',width=600,height=300)

In [ ]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [ ]:
print('a+b={}'.format(a+b))

a+b=27

In [ ]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
# You can use string formatting to get the exact output like ours.
# hint: print("a + b = {}".format(a+b))

print('a + b = {}'.format(a+b))
print('a - b = {}'.format(a-b))
print('a * b = {}'.format(a*b))
print('a / b = {}'.format(a/b))
print('a // b = {}'.format(a//b))
print('a % b = {}'.format(a%b))
print('a ^ b = {}'.format(a^b))

a + b = 27
a - b = 21
a * b = 72
a / b = 8.0
a // b = 8
a % b = 0
a ^ b = 27

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Additional Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [ ]:
#import math
import math

In [ ]:
# declare a variable x = 2 and y=5.32167
x = 2
y = 5.32167

In [ ]:
# Print the maximum value between x and y
max(x,y)

5.32167

In [ ]:
# Print the minimum value between x and y
min(x,y)

2

In [ ]:
# Print square and cube of x and store in a and b variable
a = int(math.pow(x,2))
b = int(math.pow(x,3))
print(a)
print(b)

4
8

In [ ]:
#print log of x and store it in variable c
c = math.log(x)
print(c)

0.6931471805599453

In [ ]:
#print minimum value between x,y,a, b and c
min(x,y,a,b,c)

0.6931471805599453

In [ ]:
#print maximum value between x,y,a, b and c
max(x,y,a,b,c)

8

In [ ]:
#print the largest integer that is smaller than or equal to c. ie.round down
math.floor(c)

0

In [ ]:
#print the smallest integer that is greater than or equal to c ie. round up
math.ceil(c)

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [ ]:
# declare two variables, a = True, b = False
a = True
b = False
print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b
type(a)
type(b)

bool

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [ ]:
# print int(a) and int(b)
print(f"int of a is {int(a)}")
print(f"int of b is {int(b)}")

int of a is 1
int of b is 0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
# Use not operator for not a and not b

print("not a = {}".format(not a))
print("not b = {}".format(not b))
print("a and b = {}".format(not a and b))
print("a or b = {}".format(not a or b))
print("a and not b = {}".format(a and not b))

not a = False
not b = True
a and b = False
a or b = False
a and not b = True

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [ ]:
# Comprehension
YouTubeVideo('https://www.youtube.com/watch?v=Cs8wG--s4z4&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=17',width=600,height=300)

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
lst = range(1,20)
print(lst)

range(1, 20)

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even
lst = list()
for i in range(20):
  if i%2==0:
    lst.append(i)

print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits = ['mango','apple','banana','vimal','orange', 'kivi']
len_fruits = [len(fruits[0]),len(fruits[1]),len(fruits[2]),len(fruits[3]),len(fruits[4]),len(fruits[5])]

print(fruits)
print(len_fruits)

['mango', 'apple', 'banana', 'vimal', 'orange', 'kivi']
[5, 5, 6, 5, 6, 4]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

In [ ]:
# string manipulation
YouTubeVideo('https://www.youtube.com/watch?v=I6UH_prRboE&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=9',width=600,height=300)

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

In [ ]:
# declare the variables x = cat and y = dog and print it
x =  'cat'
y = 'dog'

print(x)
print(y)

cat
dog

In [ ]:
#Print first character of both x and y. 
print(f"first ch of x = {x[0]}")
print(f"first ch of y = {y[0]}")

first ch of x = c
first ch of y = d

In [ ]:
#Print last character of both x and y.
print(f"last ch of x = {x[-1]}")
print(f"last ch of y = {y[-1]}")

last ch of x = t
last ch of y = g

In [ ]:
#Print len of both x and y
print(f"lenght of x is = {len(x)}")
print(f"lenght of y is = {len(y)}")

lenght of x is = 3
lenght of y is = 3

In [ ]:
#concatenate both x and y and store it in variable z and print z
z=x+y
z

'catdog'

In [ ]:
#check if x is part of z 
x in z

True

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create variable a = “pineapple”
a = # your code here
print(a)

pineapple

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]

pine
apple

In [ ]:
#Convert a into upper case

'PINEAPPLE'

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [ ]:
# Declare a sentence of ‘I am flying to London’ and print it
s = 'I am flying to London'
s

'I am flying to London'

In [ ]:
#Print length of the sentence
print(f"len of sentence is {len(s)}")

len of sentence is 21

In [ ]:
#Using list indexing, to print the word London
s[-6:]

'London'

In [ ]:
# Use .split to get list of individual words in the sentence
lst = s.split(" ")
lst

['I', 'am', 'flying', 'to', 'London']

In [ ]:
# Convert sentence in lower case 
lower = s.lower()
lower

'i am flying to london'

In [ ]:
# Convert sentence in upper case .
upper = s.upper()
upper

'I AM FLYING TO LONDON'

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
# Functions-1
YouTubeVideo('https://www.youtube.com/watch?v=cjtAbp-Ux-w&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=15',width=600,height=300)

In [ ]:
# Function-2
YouTubeVideo('https://www.youtube.com/watch?v=cjtAbp-Ux-w&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=16',width=600,height=300)

Call the function to find the value of square of 9.

In [ ]:
# find the square of 9 using the function square you have just created.
def square(x):
    print(f"Square of {x} is {x*x}")

# find the square of 9 using the function square you have just created.
square(9)

Square of 9 is 81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
def oe(x):
  if x%2 ==0:
    print(f"{x} is Even")
  else:
    print(f"{x} is Odd")

oe(11)

11 is Odd

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [ ]:
 # your code here
oe(3)
oe(6)
oe(21)

3 is Odd
6 is Even
21 is Odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [ ]:
# conditions
YouTubeVideo('https://www.youtube.com/watch?v=CLqw5KZZ8Dg&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=11',width=600,height=300)

In [ ]:
#Declare a variable x equal to a number of your choice.
#your code here
x =  3
print(x)

3

In [ ]:
#Using an if statement, print whether x is zero, positive or negative.
if x > 0:
  print("positive")
elif x < 0:
  print("negative")
else:
  print("zero")

positive

In [ ]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.
def check_num(x):
  if x > 0:
    print("positive")
  elif x < 0:
    print("negative")
  else:
    print("zero")

check_num(10)
check_num(-2)
check_num(0)

positive
negative
zero

## For loop

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Loops
YouTubeVideo('https://www.youtube.com/watch?v=56-IOucIwAU&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=12',width=600,height=300)

In [ ]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.

x = ['India','Israel','Canada']

In [ ]:
#Using For loop, iterate over the list and print the elements.
for i in x:
  print(i)

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Using For loop, print the table of 2.
for i in range(1,11):
  print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [ ]:
#code here
# hint: use if type(i) == int: condition to print variable which are of int type
x = [21, 'hello','cream', 20,19,'village']
for i in x:
  if type(i)==int:
    print(i, end = " ")

21 20 19

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

In [ ]:
# print the following pattern
for i in range(5):
  for i in range(5):
    print("*", end =" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [ ]:
def counter(n):
 # add your code here

In [ ]:
 counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [ ]:
# your code here

5
10
15
20
25
30
35
40
45
50

Awsesome! Great job so far. Hope you fell in love with python now.

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# Its Feedback Time!

We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
 https://zfrmz.in/MtRG5oWXBdesm6rmSM7N
 
-------------------------------------